body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --space-unit: 4px;
  --space-1:  var(--space-unit);
  --space-2:   calc(2 * var(--space-unit));
  --space-3:   calc(3 * var(--space-unit));
  --space-4:   calc(4 * var(--space-unit));
  --space-5:   calc(5 * var(--space-unit));
  --space-6:   calc(6 * var(--space-unit));
  --space-16:   calc(16 * var(--space-unit));
  --space-20:   calc(20 * var(--space-unit));
  --space-32:   calc(32 * var(--space-unit));

  --font-size-xs: 8px;
  --font-size-sm: 10px;
  --font-size-md: 14px;
  --font-size-h2: 32px;
}

.form-body {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
}
.app-bar-button-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: var(--space-6);
}

.card {
  padding: var(--space-4);
  width: 100%;
  height: 100%;
}

.card-small {
  padding: var(--space-4);
  height: 100%;
  width: 300px;
}

.common-layout {
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
  padding-right: var(--space-20);
  padding-left: var(--space-20);
}

.mg-r-sm {
  margin-right: var(--space-4) !important;
}

.mg-t-sm {
  margin-top: var(--space-4);
}


.mg-b-sm {
  margin-bottom: var(--space-4);
}

.mg-b-lg {
  margin-bottom: var(--space-32);
}

.mg-b-md {
  margin-bottom: var(--space-16);
}

.text-sm {
    font-size: var(--font-size-md);
}
.text-detail-explanation {
  font-size: var(--font-size-sm);
  margin-top: var(--space-1);
}

.bold-text {
  font-weight: bold;
}

.page-header {
  margin-bottom: var(--space-4);
}

.table-container {
  width: 100%;
}
.form-box {
  display: flex;
  justify-content: space-between;
}
.table {
  min-width: 650px;
}
.table-row {
  &:last-child td, &:last-child th {
    border: 0
  }
}
.modal {
  width: 500px;
  margin: auto;
  margin-top: var(--space-6);
}